html, body {
  background: black;
  height: 100%;
  padding: 0;
  margin: 0;
}
#gameboard {
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#player {
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 14px;
  border-left-width: 14px;
  border-bottom: 40px solid white;
}
#player.above {
  z-index: 999;
}
#player.thrust:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 40px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 20px solid red;
    transform: rotate(180deg);
}
#player.thrust-fire:before {
    left: -7px;
    border-right-width: 7px;
    border-left-width: 7px;
    border-bottom: 14px solid red;
}
#player.thrust:after {
    content: '';
    position: absolute;
    left: -5px;
    top: 40px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 5px;
    border-left-width: 5px;
    border-bottom: 10px solid orange;
    transform: rotate(180deg);
}
.asteroid {
  position: absolute;
  width: 80px;
  height: 80px;
  stroke-width: 1px;
  animation: spin 64s infinite linear;
}
.asteroid.small {
  width: 30px;
  height: 30px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bullet {
  border: 2px solid white;
  position: absolute;
}
.particle {
  border: 2px solid white;
  position: absolute;
}